<div class="std_form_div">
  <div class="full_width">
    <div class="five_sixth_width std_form_label">
      <%= prompt %>
    </div>
    <div class="sixth_width std_input_wrapper std_left_border">
      <label class="std_radio_btn"><input type="radio" name="<%= name %>" value="true" class="reqd">Yes&nbsp;&nbsp;&nbsp;</label>
      <label class="std_radio_btn"><input type="radio" name="<%= name %>" value="false">No</label>
      <span class="std_form_err_msg"><br>Cannot be blank!</span>
    </div>
  </div>
</div>